/**
 * variables ===========================================
 */

/* 主题颜色定义 */
@themeBlue: #1abc9c; // 绿色
@themeGary: #d8d8d8; // 灰色(形状\线条
@themeOrange: #f30; // 橙色(形状\线条\字体

@themeDarkBlue: #464c5b; // 深蓝色(字体

// adminManagement
@themeLightGreen: #1abc9c;
@themeDarkGreen: #16a085;
@firstFontColor: #464c5b;
@secondFontColor: #657180;
@thirdFontColor: #cccccc;
@fourthFontColor: #e4e4e4;

@themeGradient: linear-gradient(to right, #0096ff, #0052d2); // 渐变

/* 布局尺寸 */
@headerHeight: 72px;
@menuWidth: 200px;

/**
 * Mixins ===========================================
 */
// 单行文本溢出
.singleTextOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
